#!/usr/bin/env python3

PACKAGE = "actor_lidar"

from math import pi
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("camera_x", double_t, 0, "X offset of camera from origin", 0, -10, 10)
gen.add("camera_y", double_t, 0, "Y offset of camera from origin", -0.1, -10, 10)
gen.add("camera_z", double_t, 0, "Z offset of camera from origin", 1, -10, 10)
gen.add("hfov", double_t, 0, "Camera horizontal FOV", 1.15366, 0, 2*pi)
gen.add("vfov", double_t, 0, "Camera vertical FOV", 0.886627, 0, 2*pi)
gen.add("x_roll", double_t, 0, "Angle to rotate pointcloud about X axis", 0, -pi/2, pi/2)
gen.add("y_roll", double_t, 0, "Angle to rotate pointcloud about Y axis", 0.25, -pi/2, pi/2)
gen.add("center_yaw", double_t, 0, "Frame center yaw angle", -1.15, -pi, pi)
gen.add("center_pitch", double_t, 0, "Frame center pitch angle", -0.08, -pi, pi)
gen.add("min_radius", double_t, 0, "Minimum distance to consider", 0, 0, 300)
gen.add("max_radius", double_t, 0, "Maximum distance to consider", 100, 0, 300)
gen.add("min_height", double_t, 0, "Minimum height to consider", -10, -100, 100)
gen.add("max_height", double_t, 0, "Maximum height to consider", 10, -100, 100)
gen.add("zero_height", double_t, 0, "Ground height offset", -1.213, -100, 100)

exit(gen.generate(PACKAGE, "actor_lidar_node", "ActorLidar"))
